*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}
body{
    background: #F1F5F9;
}
.nav-3 p span{
    background-color: rgb(88, 88, 255);
    border-radius: 50%;
    color: #fff;
}
.nav-2 ul li a:hover{
    color: blue;
    transition: 0.4s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}
.nav-2 ul{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: -70%;
   
}
.nav-2 ul li a{
    text-decoration: none;
    color: #000;
}
.nav-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 10%;
}
nav h3{
    margin-right: 140%;
}

.nav-3 button{
    height: 40%;
    width: 100px;
    border: none;
    border-radius: 16px;
    background: blue;
    color: white;
}
.nav-3 button:hover{
    background-color: rgb(107, 107, 255);
    transition: 0.5s;
    border-radius: 0 20% 0 20%;
}
.container{
    padding: 5%;
}
.container img{
   width: 70%;
}
.container-2{
    width: 70%;
    margin-left: -8%;
}
.container-4{
    display: flex;
}
.container-2 button{
    height: 13%;
    width: 150px;
    background: #fff;
    border-radius: 10px;
}
.container-2 button:hover{
    background: rgb(107, 107, 255);
    transition: 0.5s ease-in-out;
    border-radius: 30px 0 30px 0;
    color: #fff;
    border: none;
}
.container-3 img{
    margin-left: 35%;
}
.card-body a{
    text-decoration: none;
}
.logo .card-body h5{
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box-2{
    padding: 5%;
    display: flex;
    justify-content: center;gap: 50px;
}
.card-body p span{
    margin-left: 40%;
    background-color: red;
    border-radius: 5px;
}
p span a{
    color: #fff;
}
.box-3{
    display: flex;
    justify-content: center;gap: 50px;
}
.box-4{
    padding: 5%;
    display: flex;
    justify-content: center;gap: 50px;
}

footer{
    width: 200%;
    background: #0F1724;
    color: #fff;
}

footer b{
    color: #fff;
}
footer b:hover{
    color: blue;
    transition: 0.4s;
}
footer ul{
    text-decoration: none;
    color: #fff;
}
footer ul:hover{
    color: blue;
    transition: 0.4s;
}

.reset-1{
    display: flex;
}
.reset-1 h5{
    margin-left: auto;
}

.list-unstyled a{
    text-decoration: none;
    color: #fff;
}
.list-unstyled a:hover{
    color: blue;
    transition: 0.4s;
}